
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: {{ cat_name | lower }}
  namespace: {{ cat_namespace }}
spec:
  sourceType: {{ source_type | default('grpc') }}
  image: {{ cat_image }}
  displayName: {{ display_nm }}
  publisher: OperatorHub.io